body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2{
    text-align: center;
    margin: 0.5em 0 0.5em 0;
}

#recipe-name {
    color: rgb(189, 32, 32);
    text-align: center;
}

img {
    display: block;
    margin: auto;
}
/* flex container */

div.flex-container {
    display: flex;
}

/* Section borders and colours */
.section{
    margin: 10px 0 10px 0;
    padding: 0 1em 0 1em;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    max-width: 50%;
    flex: 1;
}

.section.ingredients, 
.section .ingredients {
    list-style-type: square;
    color: rgb(111, 64, 172);
}

.ingredients{
    background-color: pink;
}

.steps {
    background-color: lightblue;
}

/* List styles */
ul {
    list-style-type: circle;
}